<!-- <div class="col-3 float-left pr-3 container side-nav"> -->
<div class="col-md-2"></div>
<div class="col-md-2">
  <% if current_user %>
    <p><%= image_tag(@profile.profile_pic, class:"profile-pic")  %></p>
    <p class="side-nav-words"><%= @profile.username %></p>
    <p class="side-nav-words"><%= @profile.name %></p><hr/>
    <p class="side-nav-words"><%= image_tag('location.svg') %> <%= @profile.location %></p>
    <p class="side-nav-words"><%= image_tag('mail.svg') %> <%= @profile.email %></p>
    <!--move datetime to model method  -->
    <p class="side-nav-words"><%= image_tag('clock.svg') %> Joined on <%= @profile.joined_on.to_datetime.strftime("%b %d, %Y") %></p><hr />
  <% end %>
</div>
