<div class="col-3 float-left pr-3 container side-nav">
  <%= image_tag(current_user.profile_pic, class:"profile-pic")  %>
  <h2><%= current_user.username %></h2>
  <h6><%= current_user.name %></h6>
  <h6><%= current_user.location %></h6>
  <h6><%= current_user.email %></h6>
  <h6>Joined on <%= current_user.joined_on %></h6>
</div>
