<%= render partial: "shared/sidenav", locals: {sidenav: @profile} %>

<%= render partial: "shared/innernav" %>
<%= render partial: "reponav" %>
<div class="col-md-8">
  <div class="row">
    <% @repos.each do |repo| %>
      <div class="repo-list-item">
        <p class="repo-name"><%=link_to repo.name, repo.url %></p>
        <pre class="repo-details"><%= repo.language %>      <%= repo.updated_at.to_datetime.strftime("%b %d, %Y") %></pre>
        <hr/>
      </div>
    <% end  %>
  </div>
</div>
